<!-- PHOTODETAIL START -->
<div class="flickr-detail-photo">
  <flickr-img info="photoDetail"></flickr-img>
  <div class="recent-detail-descrip">
    {{photoDetail.title}} {{photoDetail.description._content}}
  </div>
  <nav>
    <ul class="pager">
      <li ng-show="detailIndex > 0">
        <a ng-click="detailPrev()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </li>
      <li>
        <a ng-click="detailClose()">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </li>
      <li ng-show="detailIndex < photos.length - 1">
        <a ng-click="detailNext()">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<!-- PHOTODETAIL END -->
