<!-- FILTER MENU -->
<md-menu class="crime-map-filter">
  <!-- FILTER BUTTON  -->
  <md-button aria-label="Filter crime data" class="md-icon-button" ng-click="$mdOpenMenu($event)">
    <span class="glyphicon glyphicon-filter"></span>
  </md-button>
  <!-- // FILTER BUTTON  -->
  <md-menu-content width="12">
    <md-menu-item>
      <md-button ng-click="filterData(reportFilter)">Apply</md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="filterReset($event)" ng-disabled="reportFilter.length === 0" md-prevent-menu-close>Reset</md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="filterAll($event)" ng-disabled="reportFilter === []" md-prevent-menu-close>Clear All</md-button>
    </md-menu-item>
    <md-menu-divider></md-menu-divider>
    <md-menu-item ng-repeat="(key, val) in $index">
      <md-button ng-click="filterToggleType($event)" ng-class="{'md-primary' : reportFilter.indexOf(val.key) === -1}" md-prevent-menu-close>
        <span class="badge" style="background-color: {{colorScaleOff(val.key)}};">&nbsp;</span> {{val.key}} ({{val.values.length}})
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
<!-- // FILTER MENU -->
<!-- TIMELINE CANVAS -->
<div class="crime-report-timeline"></div>
<!-- // TIMELINE CANVAS -->
