<div ng-show="indexOffType">
  <!-- FILTER TYPE -->
  <md-menu class="map-filter-type">
    <md-button ng-click="$mdOpenMenu($event)" class="md-primary" aria-label="Filter by type">
      <span class="glyphicon glyphicon-filter"></span>
    </md-button>
    <md-menu-content>
      <md-button ng-click="filterAll()" aria-label="Filter All">Filter All</md-button>
      <md-button ng-click="filterNone()" aria-label="Show All">Show All</md-button>
      <md-button ng-click="filterToggleType($event)" ng-repeat="(key, val) in indexOffType" ng-class="{
        'md-accent'  : false,
        'md-primary' : false,
           }" aria-label="{{vall.key}}">
        <span class="badge" style="background-color: {{colorScaleOff(val.key)}};">&nbsp;</span> {{val.key}}
      </md-button>
    </md-menu-content>
  </md-menu>
  <!-- // FILTER TYPE -->
  <!-- FILTER DATE -->
  <div class="map-filter-date">
    <md-datepicker ng-model="filters.startDate" md-min-date="dateRange[0]" md-max-date="filters.endDate" md-placeholder="Start date" ng-click="dateChange($event)"></md-datepicker>
    <md-datepicker ng-model="filters.endDate" md-min-date="filters.startDate" md-max-date="dateRange[1]" md-placeholder="End date" ng-click="dateChange($event)"></md-datepicker>
  </div>
  <!-- // FILTER DATE -->
  <md-button ng-click="filterApply($event)" ng-show="showApply" aria-labvel="Apply">Apply</md-button>
</div>
<!-- MAP CANVAS -->
<div class="map-canvas"></div>
<!-- MAP CANVAS -->
