<!-- ERROR START -->
<br>
<div class="alert alert-danger" role="alert" ng-show="gallery.stat === 'fail'">
  <b>An error occurred</b>
  <br> Code: {{gallery.code}} / Message: {{gallery.message}}
</div>
<!-- ERROR END -->
<!-- THUMBNAILS START -->
<md-grid-list md-gutter="0.33em" md-cols-sm="2" md-cols-md="4" md-cols-lg="8" md-cols-gt-lg="8" md-row-height="1:1">
  <md-grid-tile ng-repeat="img in gallery.photoset.photo" class="gallery-thumbs">
    <img ng-src="https://farm{{img.farm-id}}.staticflickr.com/{{img.server-id}}/{{img.id}}_{{img.secret}}_q.jpg" ng-click="thumbClick($event, img, $index)">
  </md-grid-tile>
</md-grid-list>
<!-- THUMBNAILS END -->
