<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Kyle Moseby // Seattle, WA</title>
  <meta name="description" content="Personal website of Kyle Moseby">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="other_components/icomoon/style.css" />
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="kylemosebyDotcomApp">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!--  <div ng-controller="mainNav">
    <md-menu-bar>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          <div class="glyphicon glyphicon-menu-hamburger"></div> Kyle Moseby
        </button>
        <md-menu-content>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-menu-item>
              <md-menu>
                <md-button ng-click="$mdOpenMenu()">New</md-button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click="ctrl.sampleAction('New Document', $event)">Document</md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-menu-item>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
  </div> -->
  <!-- Add your site or application content here -->
  <div class="header" ng-controller="mainNav" ng-hide="hideNav" ng-cloak>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li>
              <md-menu-bar>
                <md-menu>
                  <button ng-click="$mdOpenMenu()">
                    <div class="glyphicon glyphicon-menu-hamburger"></div>
                  </button>
                  <md-menu-content>
                    <md-menu-item ng-repeat="(page, _p_) in pages">
                      <md-button ng-click="menuClick(page)">{{_p_.title}}</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                      <ul class="list-inline">
                        <li><a href="https://github.com/kylemoseby" target="_blank"><span class="icon-github"></span></a></li>
                        <li><a href="https://www.instagram.com/kylemoseby/" target="_blank"><span class="icon-instagram"></span></a></li>
                        <li><a href="https://www.flickr.com/photos/kylemoseby/" target="_blank"><span class="icon-flickr2"></span></a></li>
                      </ul>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-bar>
            </li>
            <li>
              <a ng-href="#/">Kyle Moseby</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div flex layout-fill ng-view=""></div>
  <!-- <div class="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="col-md-12">
          <ul class="nav navbar-nav">
            <li><a href="http://instagram.com/kylemoseby" target="_blank"><span class="icon-instagram"></span></a></li>
                      <li><a href="http://flickr.com/photos/kylemoseby" target="_blank"><span class="icon-flickr2"></span></a></li>
                      <li><a href="http://github.com/kylemoseby" target="_blank"><span class="icon-github"></span></a></li>
                    </ul>
          </div>
        </div>
        </nav>
      </div>
      -->
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
  ! function(A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUoQBYmNXt-dcHE-oqFKED_loQKhmCeVY"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-flickr-integrations/source/angular-flickr-integrations.js"></script>
  <script src="bower_components/angular-loader/angular-loader.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="bower_components/angular-seattle-crime-data/source/seattle-crime-reports-scripts.js"></script>
  <script src="bower_components/angular-code-mirror/dist/angular-code-mirror.js"></script>
  <script src="bower_components/angular-codepen/source/angular-codepen.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/api_key.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/code.js"></script>
  <script src="scripts/controllers/contact.js"></script>
  <script src="scripts/controllers/photo.js"></script>
  <script src="scripts/directives/fp100.js"></script>
  <script src="scripts/directives/fpvik.js"></script>
  <script src="scripts/directives/fpseoul.js"></script>
  <script src="scripts/directives/fpzion.js"></script>
  <script src="scripts/directives/fpdonotenter.js"></script>
  <!-- endbuild -->
</body>

</html>
