<div ng-app="flickrDemo" ng-controller="flickrDemoCtrl" ng-cloak>
  <flickr-album album-id="albumID">
    <!-- ERROR START -->
    <br>
    <div class="alert alert-danger" role="alert" ng-show="gallery.stat === 'fail'">
      <b>An error occurred</b>
      <br> Code: {{gallery.code}} / Message: {{gallery.message}}
    </div>
    <!-- ERROR END -->
    <!-- THUMBNAILS START -->
    <md-grid-list md-cols="2" md-cols-gt-xs="5" md-cols-gt-lg="7" md-row-height="1:1" md-gutter="10px">
      <!-- <md-grid-list md-cols="2" md-cols-gt-xs="5" md-cols-gt-lg="7"  md-row-height="1:1"> -->
      <md-grid-tile ng-repeat="img in gallery.photoset.photo" class="gallery-thumbs">
       <img ng-src="https://farm{{img.farm-id}}.staticflickr.com/{{img.server-id}}/{{img.id}}_{{img.secret}}_q.jpg" ng-click="thumbClick($event, img, $index)">
      </md-grid-tile>
    </md-grid-list>
    <!-- THUMBNAILS END -->
  </flickr-album>
</div>