@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:400,400i,700|IBM+Plex+Serif');

$font-family-sans-serif: 'IBM Plex Sans', Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Serif', serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
*/

.navbar-brand {
  font-size: 40px;
}


img {
  max-height: 90vh;
  max-width: 100%;
}
/*
      NAVBAR
*/
.km-nav.invisible {
  height: 0;
  width: 0;
  overflow: hidden;
}
/*
      NAVBAR END
*/
/*
      FLICKR GALLERY
*/
.photo-wrap {
  overflow: hidden;
}
.photo-link {
  position: absolute;
  right: 50%;
  bottom: 10px;
}
/*
      FLICKR GALLERY END
*/


