@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600i,700');
$font-family-sans-serif: 'IBM Plex Mono', Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$primary: #000;
$navbar-padding-x: 0;

@import "node_modules/bootstrap/scss/bootstrap";


.navbar .container-fluid {
  padding: 0;
}
.navbar-brand {
  font-size: $h2-font-size;
  font-weight: 700;
}

img {
  max-height: 90vh;
  max-width: 100%;
}
/*
      NAVIGATION
*/
.invisible {
  height: 0;
  width: 0;
  overflow: hidden;
}
.km-nav {
  font-size: $font-size-sm;
  font-weight: 600;
  a {
   color: $gray-600;
  }
}
/*
      NAVIGATION END
*/
/*
      FLICKR GALLERY
*/
.photo-wrap {
  overflow: hidden;
  img {
    width: 25vh;
    height: 25vh;
    object-fit: cover;
  }
}
.photo-link {
  font-weight: 700;
  color: $body-bg;
  position: absolute;
  right: 50%;
  bottom: 10px;
}
/*
      FLICKR GALLERY END
*/


.code-page {
  h2{
    padding-top: 2.5rem;
  }
  h2:first-of-type {
    padding-top: 0;
  }
  h3 {
    padding-top: 1.5rem;
    padding-right: 1rem;
    display: inline-block;
  }
}

.code-example {
  background: red;
  height: 25vh;
  overflow: scroll;
}