img {
  max-height: 90vh;
  max-width: 100%;
}
/*
      NAVBAR
*/
.km-nav.invisible {
  height: 0;
  width: 0;
  overflow: hidden;
}
/*
      NAVBAR END
*/
/*
      FLICKR GALLERY
*/
.photo-wrap {
  overflow: hidden;
}
.photo-link {
  position: absolute;
  right: 50%;
  bottom: 10px;
}
/*
      FLICKR GALLERY END
*/
