<div class="btn-group">
  <button type="button" class="btn btn-primary" ng-click="codepenInit()" ng-hide="loadPen">
    Launch with Codepen <span class="icon-codepen"></span>
  </button>
  <button type="button" class="btn btn-primary btn-sm" ng-click="codepenToggle()" ng-show="loadPen">
    <span ng-class="{ 'glyphicon': true, 'glyphicon-chevron-down': showCodepen, 'glyphicon-chevron-up': !showCodepen }"></span>
  </button>
</div>
<div class="codepen" ng-class="{ 'show-codepen': showCodepen }">
  <p data-height="600"
  data-theme-id="light"
  data-slug-hash="{{slugHash}}"
  data-default-tab="result"
  data-user="kylemoseby"
  data-embed-version="2"
  data-pen-title="{{penTitle}}"
  ng-class="{'codepen': loadPen }"></p>
</div>
<!-- {{githubUrl}}
<button type="button" class="btn btn-primary" ng-click="createGist()">
  Export to Gist <span class="icon-github"></span>
</button>
 -->
