<md-content layout="column" layout-margin layout-padding layout-wrap>
  <!--  SEATTLE CRIME REPORTS -->
  <div>
    <h1>Code Samples</h1>
    <h2>Seattle Police Reports</h2>
    <ul class="list-unstyled">
      <li>These samples use public data from <a href="https://data.seattle.gov/Public-Safety/Seattle-Police-Department-Police-Report-Incident/7ais-f98f" target="_blank">data.seattle.gov</a>. Data is provided by an HTTP request that <a href="https://data.seattle.gov/resource/7ais-f98f.json" target="_blank">gets a JSON object</a>.</li>
      <li>Data is indexed and formatted using <a href="https://d3js.org/" target="_blank">d3</a>. All these samples are developed in <a href="https://angularjs.org/" target="_blank">Angularjs</a>.</li>
      <li><a href="https://github.com/kylemoseby/angular-seattle-crime-data" target="_blank"><span class="icon-github"></span> GitHub Repo</a></li>
    </ul>
  </div>
  <!-- TIMELINE -->
  <div layout="column" layout-gt-md="row">
    <div flex="100" flex-gt-md="15" class="code-meta">
      <h3>Reports by time</h3>
      <codepen info="seaCrimeTimeline"></codepen>
    </div>
    <div flex="100" flex-gt-md="60">
      <div id="sea-crime-viz" viz-time-line viz-time-data="crimeData"></div>
    </div>
  </div>
  <!-- //  TIMELINE -->
  <!-- BAR CHART -->
  <div layout="column" layout-gt-md="row">
    <div flex="100" flex-gt-md="15" class="code-meta">
      <h3>Count by Report Type</h3>
      <codepen info="seaCrimeBlock"></codepen>
    </div>
    <div flex="100" flex-gt-md="60">
      <div id="crime-reports-block" crime-reports-block crime-reports-data="crimeData"></div>
    </div>
  </div>
  <!-- //  BAR CHART -->
  <!-- GOOGLE MAP -->
  <div layout="column" layout-gt-md="row">
    <div flex="100" flex-gt-md="15" class="code-meta">
      <h3>Reports plotted by latitude and longitude</h3>
      <codepen info="seaCrimeMap"></codepen>
    </div>
    <div flex="100" flex-gt-md="60">
      <map-canvas map-promise="crimeData"></map-canvas>
    </div>
  </div>
  <!-- // GOOGLE MAP -->
  <!--  // SEATTLE CRIME REPORTS -->
  <!-- FLICKR INTEGRATIONS START -->
  <div>
    <h2>Flickr Integrations for Angular</h2>
    <p>These samples use <a href="https://www.flickr.com/services/api/" target="_blank">Flickr's REST API</a>.</p>
    <p><a href="https://github.com/kylemoseby/angular-flickr-portfolio" target="_blank">GitHub Repo <span class="icon-github"></span></a></p>
  </div>
  <!-- FLICKR RECENT PHOTOS -->
  <div layout="column" layout-gt-md="row">
    <div flex="100" flex-gt-md="15" class="code-meta">
      <h3>Recent Photos</h3>
      <codepen info="flickrRecent"></codepen>
    </div>
    <div flex="100" flex-gt-md="60">
      <recent-photos flickr-id="flickrID" count="12"></recent-photos>
    </div>
  </div>
  <!--  // FLICKR RECENT PHOTOS -->
  <!--  FLICKR ALBUM -->
  <div layout="column" layout-gt-md="row">
    <div flex="100" flex-gt-md="15" class="code-meta">
      <h3>Flickr Album</h3>
      <codepen info="flickrAlbum"></codepen>
    </div>
    <div flex="100" flex-gt-md="60">
      <flickr-album album-id="albumID"></flickr-album>
    </div>
  </div>
  <!--  // FLICKR ALBUM -->
</md-content>
