<div id="main-page" ng-class="windAspectRatio" class="row">
  <div class="col-lg-12">
    <h2>I am currently based out of Seattle WA.</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="btn-group">
      <button ng-click="showHide.photography = !showHide.photography" class="btn btn-primary">
        {{showHide.photography ? '' : 'Portfolio'}} <span class="glyphicon glyphicon-remove" ng-show="showHide.photography"></span>
      </button>
      <button class="btn btn-primary" ng-click="showHide.contact = !showHide.contact">
        {{showHide.contact ? '' : 'Contact Form'}} <span class="glyphicon glyphicon-remove" ng-show="showHide.contact"></span>
      </button>
      <button ng-click="showHide.code = !showHide.code" class="btn btn-primary">
        {{showHide.code ? '' : 'Code Samples'}} <span class="glyphicon glyphicon-remove" ng-show="showHide.code"></span>
      </button>
    </div>
    <div ng-include="'views/photography.html'" ng-controller="PhotographyCtrl" ng-show="showHide.photography"></div>
    <div ng-include="'views/contact.html'" ng-controller="ContactCtrl" ng-show="showHide.contact"></div>
    <div ng-include="'views/code.html'" ng-controller="CodeCtrl" ng-show="showHide.code"></div>
  </div>
</div>
